//colors
$color-nav:#111;
$color-text-primary:white;
$color-text-secondary:lightgrey;
//fonts
$font-primary:'Lato', sans-serif;
//size
$size-text-light:300;
$size-text-regular:400;
$size-text-bold:700;
